@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.anyText {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #f3f3f3;
}
